Ini, TOML

[Unit]
Description=a.os Native Flatpak Preinstallation Sync
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
# Run our evaluator script
ExecStart=/usr/libexec/a.os-flatpak-sync.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target